include:
  - project: "gnome/citemplates"
    file: "flatpak/flatpak_ci_initiative.yml"
  - component: "gitlab.gnome.org/GNOME/citemplates/release-service@master"
    inputs:
      job-stage: "release"
      dist-job-name: "release-tarball"
      tarball-artifact-path: "build/meson-dist/gnome-console-$CI_COMMIT_TAG.tar.xz"
  - component: "gitlab.gnome.org/GNOME/citemplates/gnomeos-basic-ci@master"
    inputs:
      lsan-options: "suppressions=${CI_PROJECT_DIR}/tests/lsan.supp"

variables:
  MANIFEST_PATH: "build-aux/flatpak/org.gnome.Console.Devel.json"
  FLATPAK_MODULE: "gnome-console"
  RUNTIME_REPO: "https://nightly.gnome.org/gnome-nightly.flatpakrepo"
  GIT_SUBMODULE_STRATEGY: recursive
  CONFIG_OPTS: "-Ddevel=true -Dwerror=true"
  APP_ID: "org.gnome.Console.Devel"
  BUNDLE: "org.gnome.Console.Devel.flatpak"
  FEDORA_IMAGE: fedora:latest
  FEDORA_DEPS: appstream
    colord
    dbus-daemon
    desktop-file-utils
    gcc
    gcovr
    git
    glslc
    mutter
    ninja-build
    pipx
    pkgconfig(fmt)
    pkgconfig(gio-2.0)
    pkgconfig(gio-unix-2.0)
    pkgconfig(gsettings-desktop-schemas)
    pkgconfig(gstreamer-allocators-1.0)
    pkgconfig(gstreamer-gl-1.0)
    pkgconfig(gstreamer-player-1.0)
    pkgconfig(gtk4)
    pkgconfig(libadwaita-1)
    pkgconfig(libgtop-2.0)
    pkgconfig(libpcre2-8)
    pkgconfig(librsvg-2.0)
    pkgconfig(pango)
    pkgconfig(simdutf)
    pkgconfig(vte-2.91-gtk4)
    pkgconfig(wayland-client)
    pkgconfig(wayland-egl)
    pkgconfig(wayland-protocols)
    sassc
  FEDORA_32_IMAGE: fedora:latest
  FEDORA_32_DEPS: appstream-devel.i686
    appstream.i686
    at-spi2-atk-devel.i686
    at-spi2-atk.i686
    at-spi2-core-devel.i686
    at-spi2-core.i686
    atk-devel.i686
    atk.i686
    avahi-glib.i686
    avahi-libs.i686
    brotli-devel.i686
    bzip2-devel.i686
    cairo-devel.i686
    cairo-gobject-devel.i686
    cairo-gobject.i686
    cairo.i686
    cdparanoia-libs.i686
    check-devel.i686
    check-static.i686
    check.i686
    clang-libs.i686
    clang.i686
    colord
    colord-libs.i686
    cups-libs.i686
    dbus-daemon
    dbus-devel.i686
    dbus-libs.i686
    desktop-file-utils
    duktape.i686
    elfutils-debuginfod-client-devel.i686
    elfutils-devel.i686
    elfutils-libelf-devel.i686
    expat-devel.i686
    fast_float-devel
    flac-libs.i686
    fmt-devel.i686
    fmt.i686
    fontconfig-devel.i686
    fontconfig.i686
    freetype-devel.i686
    fribidi-devel.i686
    fribidi.i686
    fuse3-libs.i686
    gcovr
    gdk-pixbuf2-devel.i686
    gdk-pixbuf2-modules.i686
    gdk-pixbuf2.i686
    gettext-libs.i686
    git
    glib-networking.i686
    glib2-devel.i686
    glib2.i686
    glibc-*.i686
    glibc-headers-x86
    glslc
    gmp-devel.i686
    gnutls-devel.i686
    gobject-introspection-devel.i686
    graphene-devel.i686
    graphene.i686
    graphite2-devel.i686
    graphite2.i686
    gsettings-desktop-schemas-devel.i686
    gssdp-devel.i686
    gstreamer1-devel.i686
    gstreamer1-plugins-bad-free-devel.i686
    gstreamer1-plugins-bad-free-libs.i686
    gstreamer1-plugins-bad-free.i686
    gstreamer1-plugins-base-devel.i686
    gstreamer1-plugins-base.i686
    gstreamer1.i686
    gtk3-devel.i686
    gtk3.i686
    gtk4-devel.i686
    gtk4.i686
    gupnp-devel.i686
    gupnp-igd-devel.i686
    harfbuzz-cairo.i686
    harfbuzz-devel.i686
    harfbuzz.i686
    json-glib.i686
    kernel-headers.i686
    lcms2.i686
    libadwaita-devel.i686
    libadwaita.i686
    libblkid-devel.i686
    libcloudproviders-devel.i686
    libcloudproviders.i686
    libdatrie-devel.i686
    libdrm-devel.i686
    libdrm.i686
    libdvdnav.i686
    libdvdread.i686
    libepoxy-devel.i686
    libepoxy.i686
    libffi-devel.i686
    libffi.i686
    libgcc.i686
    libglvnd-core-devel.i686
    libglvnd-devel.i686
    libgtop2-devel.i686
    libgtop2.i686
    libgudev-devel.i686
    libicu-devel.i686
    libicu.i686
    libidn2-devel.i686
    libjpeg-turbo-devel.i686
    liblerc-devel.i686
    liblerc.i686
    libmount-devel.i686
    libnghttp2-devel.i686
    libnice-devel.i686
    libogg.i686
    libosinfo.i686
    libpciaccess-devel.i686
    libpkgconf.i686
    libpng-devel.i686
    libpsl-devel.i686
    librsvg2-devel.i686
    librsvg2.i686
    libselinux-devel.i686
    libsepol-devel.i686
    libsoup.i686
    libsoup3-devel.i686
    libsoup3.i686
    libstdc++-*.i686
    libstdc++-devel.i686
    libstdc++-devel.x86_64
    libtasn1-devel.i686
    libthai-devel.i686
    libtiff-devel.i686
    libunwind-devel.i686
    libva-devel.i686
    libwayland-client.i686
    libwayland-cursor.i686
    libwayland-egl.i686
    libwayland-server.i686
    libwebp-devel.i686
    libwebp.i686
    libX11-devel.i686
    libX11.i686
    libXau-devel.i686
    libXau.i686
    libxcb-devel.i686
    libxcb.i686
    libXcomposite-devel.i686
    libXcomposite.i686
    libxcrypt-devel.i686
    libxcrypt.i686
    libXcursor-devel.i686
    libXcursor.i686
    libXdamage-devel.i686
    libXext-devel.i686
    libXfixes-devel.i686
    libXft-devel.i686
    libXi-devel.i686
    libXinerama-devel.i686
    libxkbcommon-devel.i686
    libxml2-devel.i686
    libXrandr-devel.i686
    libXrender-devel.i686
    libXtst-devel.i686
    libzstd-devel.i686
    libzstd.i686
    llvm.i686
    lz4-devel.i686
    mesa-libEGL.i686
    mesa-libgbm-devel.i686
    mesa-libgbm.i686
    mesa-libGL.i686
    mutter
    nettle-devel.i686
    ninja-build
    orc-devel.i686
    p11-kit-devel.i686
    pango-devel.i686
    pango.i686
    pcre2-devel.i686
    pcre2-utf16.i686
    pcre2-utf32.i686
    pcre2.i686
    pipewire-libs.i686
    pipx
    pixman-devel.i686
    pixman.i686
    pkgconf-pkg-config.i686
    pkgconf.i686
    polkit-libs.i686
    sassc
    simdutf-devel.i686
    simdutf.i686
    sqlite-devel.i686
    sqlite.i686
    subunit-devel.i686
    sysprof-capture-devel.i686
    systemd-devel.i686
    vte291-devel.i686
    vte291-gtk4-devel.i686
    vte291-gtk4.i686
    vte291.i686
    vulkan-loader-devel.i686
    wayland-devel.i686
    wayland-protocols-devel
    xz-devel.i686
    zlib-ng-compat-devel.i686

stages:
  - build
  - report
  - deploy
  - release

flatpak@x86_64:
  stage: build
  extends: ".flatpak@x86_64"

flatpak@aarch64:
  stage: build
  extends: ".flatpak@aarch64"

.fedora-build:
  stage: build
  variables:
    LC_ALL: C.UTF-8
  before_script:
    - dnf update -y --nogpgcheck
    - dnf install -y --nogpgcheck ${DNF_DEPS}
    - export PATH=$PATH:/root/.local/bin
    - pipx install meson
  script:
    - export XDG_RUNTIME_DIR="$(mktemp -p $(pwd) -d xdg-runtime-XXXXXX)"
    - meson setup build ${MESON_EXTRA_ARGS} -Db_coverage=true -Dtests=true
    - meson compile -C build
    - dbus-run-session -- mutter --headless --wayland --no-x11 --virtual-monitor 1024x768 -- meson test -C build --suite gnome-console
  after_script:
    - gcovr --json --output=coverage-${CI_JOB_NAME}.json
  artifacts:
    when: always
    paths:
      - build/meson-logs
      - coverage-*.json
    reports:
      junit: build/meson-logs/testlog.junit.xml

fedora-gcc:
  image: $FEDORA_IMAGE
  extends: .fedora-build
  variables:
    DNF_DEPS: $FEDORA_DEPS

fedora-32-clang:
  image: $FEDORA_32_IMAGE
  extends: .fedora-build
  variables:
    DNF_DEPS: $FEDORA_32_DEPS
    MESON_EXTRA_ARGS: --cross-file=.gitlab-ci/ci-32-cross
    GCOV: llvm-cov gcov

coverage:
  image: $FEDORA_IMAGE
  stage: report
  before_script:
    - dnf update -y --nogpgcheck
    - dnf install -y --nogpgcheck gcovr
  script:
    - mkdir coverage-report
    - gcovr --add-tracefile 'coverage-*.json'
      --html-details --print-summary --output coverage-report/index.html
    - gcovr --add-tracefile 'coverage-*.json'
      --xml --output coverage-report/coverage.xml
  artifacts:
    expose_as: "Coverage Report"
    paths:
      - coverage-report
      - coverage-report/index.html
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage-report/coverage.xml
  coverage: '/^lines: (\d+\.\d+\%)/'
  needs:
    - fedora-gcc

release-tarball:
  image: $FEDORA_IMAGE
  stage: release
  variables:
    LC_ALL: C.UTF-8
  before_script:
    - dnf update -y --nogpgcheck
    - dnf install -y --nogpgcheck ${FEDORA_DEPS}
    - export PATH=$PATH:/root/.local/bin
    - pipx install meson
  script:
    - export XDG_RUNTIME_DIR="$(mktemp -p $(pwd) -d xdg-runtime-XXXXXX)"
    - git config --global --add safe.directory $CI_PROJECT_DIR
    - meson setup build
    - dbus-run-session -- mutter --headless --wayland --no-x11 --virtual-monitor 1024x768 -- meson dist -C build
  artifacts:
    paths:
      - "build/meson-dist/*.xz"
  needs:
    - fedora-gcc
