@import 'definitions';
@import 'drawing';

.terminal-window {
  background: transparent;

  &.root {
    $window_color: darken(#a51d2d, 15%);
    @import 'recoloring';
  }

  &.remote {
    $window_color: darken(#613583, 10%);
    @import 'recoloring';
  }

  scrolledwindow.terminal overshoot {
    $sides: "top", "bottom", "left", "right";

    @each $side in $sides {
      &.#{$side} {
        @include overshoot($side, normal, #cccccc);

        &:backdrop { @include overshoot($side, backdrop, #cccccc); }
      }
    }
  }
}

// Taken from nautilus
.floating-bar {
  padding: 6px;
  background-color: themecolor(theme_base_color);
  border-width: 1px;
  border-style: solid solid none;
  background-clip: padding-box;
  border-color: transparentize(black, .25);
  border-radius: 3px 3px 0 0;

  &:backdrop {
    background-color: themecolor(theme_unfocused_base_color);
  }

  &:dir(rtl) { // axes left border and border radius
    border-left-style: none;
    border-top-left-radius: 0;
  }

  &:dir(ltr) { // axes right border and border radius
    border-right-style: none;
    border-top-right-radius: 0;
  }

  button {
    padding: 0px;
  }
}

.exit-info {
  padding: 6px;
  border-top: 2px solid #1e78e4;
  background: rgba(13, 54, 104, 0.96);
  color: #ffffff;

  label:backdrop {
    color: #ffffff;
  }

  .error & {
    border-top: 2px solid #ed333b;
    background: rgba(104, 13, 13, 0.96);
  }
}

label.numeric {
  font-feature-settings: "tnum";
}

box.tab:drop(active) {
  outline: 1px solid $drop_target_color;
  outline-offset: -1px;
  -gtk-outline-radius: 0;

  window:not(.tiled)
        :not(.tiled-top)
        :not(.tiled-bottom)
        :not(.tiled-left)
        :not(.tiled-right)
        :not(.maximized) & {
    -gtk-outline-bottom-left-radius: 8px;
    -gtk-outline-bottom-right-radius: 8px;
  }
}
