:root {
  --kgx-root-bg: shade(var(--red-1), 1.48);
  --kgx-root-backdrop: shade(var(--red-1), 1.45);
  --kgx-remote-bg: shade(var(--purple-1), 1.27);
  --kgx-remote-backdrop: shade(var(--purple-1), 1.35);
  --kgx-bell: shade(var(--orange-1), 1.1);
}

@keyframes bell {
  50% { background-color: var(--kgx-bell); }
}

kgx-tab .top-bar {
  background-image: none;
  background-color: var(--view-bg-color);
  color: var(--view-fg-color);
}

.terminal-window.root {
  --headerbar-bg-color: var(--kgx-root-bg);
  --headerbar-backdrop-color: var(--kgx-root-backdrop);
}

.terminal-window.remote {
  --headerbar-bg-color: var(--kgx-remote-bg);
  --headerbar-backdrop-color: var(--kgx-remote-backdrop);
}

.terminal-window.bell .main-box > revealer.top-bar {
  animation: bell 0.5s ease-out;
}

.terminal-window vte-terminal {
  padding-left: 6px;
  padding-right: 6px;
}

/* Taken from nautilus */
.floating-bar {
  padding: 3px 8px;
  background-color: var(--view-bg-color);
  color: var(--view-fg-color);
  box-shadow: inset 0 100px 0 0 alpha(currentColor, 0.05);
  margin: 4px;
  border-radius: 8px;
}

.floating-bar:backdrop {
  opacity: 0.7;
}

/* Sync to KgxTerminal! */
.empty-state {
  background: var(--view-bg-color);
  color: alpha(var(--view-fg-color), .5);
}

.exit-info {
  padding: 6px;
  border-top: 2px solid #1e78e4;
  background: rgba(13 54 104 / 0.96);
  color: #ffffff;
}

.error .exit-info {
  border-top: 2px solid #ed333b;
  background: rgba(104 13 13 / 0.96);
}

.process-list row .header {
  min-height: 0;
}

.process-list row .title {
  font-family: monospace;
}

themeswitcher {
  padding: 6px;
}

themeswitcher .check {
  background: var(--accent-bg-color);
  color: var(--accent-fg-color);
  padding: 2px;
  border-radius: 17px;
  margin: 3px;
}

/* Adapted from https://gitlab.gnome.org/GNOME/gnome-text-editor/-/blob/bf8c0c249f06a0be69e65aed3b786ba02a9f999e/src/TextEditor.css#L51 */

themeswitcher checkbutton {
  outline-offset: 1px;
  transition: none;
}

themeswitcher checkbutton radio {
  -gtk-icon-source: none;
  background: none;
  padding: 12px;
  min-height: 24px;
  min-width: 24px;
  border: none;
  outline-color: currentColor;
  transition: none;
  box-shadow: inset 0 0 0 1px var(--border-color);
}

themeswitcher checkbutton radio:checked {
  box-shadow: inset 0 0 0 2px var(--accent-bg-color);
}

themeswitcher checkbutton.system radio {
  background: linear-gradient(-45deg, #1e1e1e 49.99%, white 50.01%);
}

themeswitcher checkbutton.light radio {
  color: alpha(black, .8);
  background-color: white;
}

themeswitcher checkbutton.dark radio {
  color: white;
  background-color: #1e1e1e;
}

.font-picker {
  margin: 6px;
}

.font-picker .font-item {
  margin: 6px;
}

/* Remove default adwaita style */
kgx-tab:drop(active):focus,
kgx-tab:drop(active) {
  box-shadow: none;
}

/* Drag overlay */
.drop-highlight {
  border-radius: 8px;
  background-color: alpha(var(--blue-2), 0.35);
  margin: 24px;
}
