:root {
  --kgx-root-bg: shade(var(--red-5), 0.6);
  --kgx-root-backdrop: shade(var(--red-5), 0.45);
  --kgx-remote-bg: shade(var(--purple-5), 0.6);
  --kgx-remote-backdrop: shade(var(--purple-5), 0.45);
  --kgx-bell: shade(var(--orange-5), 0.7);
}
