.terminal-window {
  background: transparent;
}

.terminal-window.root headerbar,
.terminal-window.root headerbar button {
  background: #a51d2d;
}

.terminal-window.remote headerbar,
.terminal-window.remote headerbar button {
  background: #613583;
}

vte-terminal {
  padding: 1px 12px;
}

.terminal-window scrolledwindow undershoot.top,
.terminal-window scrolledwindow undershoot.bottom,
.terminal-window scrolledwindow overshoot.top,
.terminal-window scrolledwindow overshoot.bottom
{
  background: none;
}

/* Taken from nautilus */
.floating-bar {
  padding: 6px;
  background-color: @theme_base_color;
  border-width: 1px;
  border-style: solid solid none;
  border-color: @borders;
  border-radius: 3px 3px 0 0;
}

.floating-bar.bottom.left { /* axes left border and border radius */
  border-left-style: none;
  border-top-left-radius: 0;
}
.floating-bar.bottom.right { /* axes right border and border radius */
  border-right-style: none;
  border-top-right-radius: 0;
}

.floating-bar:backdrop {
  background-color: @theme_unfocused_base_color;
  border-color: @unfocused_borders;
}

.floating-bar button {
  padding: 0px;
}
  
.exit-info {
  padding: 12px;
  border-top: 1px solid #1e78e4;
  background: rgba(30, 120, 228, 0.33);
  color: #ffffff;
}

.exit-info.error {
  border-top: 1px solid #ed333b;
  background: rgba(192, 28, 40, 0.66);
}