.terminal-window {
  background: transparent;
}

.terminal-window.root headerbar {
  background: #a51d2d;
}

vte-terminal {
  padding: 6px 12px;
}

.terminal-window scrolledwindow undershoot.top,
.terminal-window scrolledwindow undershoot.bottom,
.terminal-window scrolledwindow overshoot.top,
.terminal-window scrolledwindow overshoot.bottom
{
  background: none;
}
